%h2 Thing Categories

%table
  %thead
    %th Thing Category 
    %th

  %tbody
    - @thing_categories.each do |thing_category|
      %tr
        %td= thing_category.category
        %td= link_to 'Edit', edit_thing_category_path(thing_category)

= link_to 'Add a Thing Category', new_thing_category_path
