%h2 Show Thing Category 

#notice= notice

%p 
  %strong Category:
  = @thing_category.category

= link_to 'Edit this Thing Category', edit_thing_category_path(@thing_category)
|
= link_to 'All Thing Categories', thing_categories_path
