#main_column.home_column
  #shit_to_read CONTRIBUTE TO DUDEFEST.COM
  #article_body.text
    %p Hey Dudes,
    %p &nbsp;
    %p 
      You’re badass right? You’re down, you’re with it, you’re hip, and we get it.
      You rock. So we think we can use you. Right now we’re a group of about 10 
      dudes working on creating the all-original, all-dudefest content, but to be 
      honest, we’re always looking for new writers.
    %p &nbsp;
    %p 
      SO, with that said, if you think that contributing to Dudefest is the way 
      you want to serve your country, then let us know. We’ll even go out on a 
      limb and say that there is no such thing as too little writing experience if
      you want to write for us. So give it a try. We’re taking submissions RIGHT 
      NOW, and are willing to look at anything you got, whether it's a suggestion for
      Daily Dudefest content, or a Movie Review, or even an idea for a new Article,
      we’d love to hear from you, and if its true dudefest material, we'll throw 
      it up on the site. Email us at 
      <a href="mailto:dudefestcontribute@gmail.com">dudefestcontribute@gmail.com</a>
      if you’ve got 
      any interest and we’ll help you get started. 
    %p &nbsp;
    %p 
      On another note, we could also could use help with the technical and coding
      aspects of running the site. We use Ruby On Rails because a certain tall, 
      thin guy likes it a lot. If you have any experience with it and would like 
      to work with it, send an email to 
      <a href="mailto:dudefestnerds@gmail.com">dudefestnerds@gmail.com</a>.

= render partial: 'home/daily_dose'
