.comment
  .comment_info
    .commenter
      = link_to comment.user.name, user_path(comment.user)
      - if comment.user.role?(:reviewer) 
        = link_to (image_tag '/DudefestSymbol.png'), users_path
    .comment_datetime= display_datetime(comment.created_at)
  .comment_body.text= comment.body_html
