.comment
  .comment_info
    .commenter
      = comment.user.name
      = image_tag '/DudefestSymbol.png' if comment.user.role?(:reviewer)
    .comment_datetime= display_datetime(comment.created_at)
  .comment_body.text= comment.body_html
