/*	
	This file defines the default set of CSS styles available in the Rich editor
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 140%;
  color: #333333;
  background-color: #E0E0E0;
  max-width: 670px;
  margin: 0px auto;
  padding: 5px;
}


span.highlight {
	background: yellow;
}

img {
  display: block;
  margin: 0px auto;
  max-width: 350px;
  max-height: 350px;
}

ol, ul {
  margin: 0px;
  padding-left: 20px;
}

ol li, ul li {
  padding-left: 10px;
}

p { 
  margin: 0px;
  padding: 0px;
}

p.image_source {
  margin-bottom: 1em;
  font-size: 0.65em;
  text-align: right;
  margin-right: 160px;
}

p.image_caption {
  margin-bottom: 1em;
  font-size: 0.75em;
  text-align: center;
}
