%h2 All the videos

%table
  %thead
    %th Date
    %th Video
    %th

  %tbody
    - @videos.each do |video|
      %tr
        %td= video.date
        %td= link_to video.title, video.source
        %td= link_to 'Edit', edit_video_path(video)

= link_to 'Add a Video', new_video_path
