.column_info
  .short_info
    .short_label> Published on
    .short_value>
      = column.publish_days.present? ? column.display_days : 'RETIRED'
  .short_info
    .short_label> First Article
    .short_value>= column.start_date.strftime('%B %d, %Y')
  .short_info
    .short_label> Articles
    .short_value>= column.public_articles.count.to_s
  .short_desc= column.description
