%p
  #{@item.reviewer.name} just published your #{@item.class_name},
  = link_to @item.label,
            rails_admin.edit_url(model_name: @item.down_class, id: @item.id)
%p
  It's set to go live on #{@item.date}! Congrats mothah fuckah!
%p Love,
.sig John Dudefest
.sig Nautical Linquist
