- content_for(:title, 'Dudefest.com | The Home Of All Things Dudefest')

#main_column.home_column
  #top_articles
    - @articles.first(2).each do |article|
      = render partial: '/articles/top_article', locals: { article: article }
  #shit_to_read.main_top SHIT TO READ
  #article_summaries
    - if @articles.count > 2
      - @articles.last(@articles.count - 2).each do |article|
        = render partial: '/articles/summary', locals: { article: article }

= render partial: 'daily_dose'
