- content_for(:title, 'Coming Soon to Dudefest.com')
- meta_description @meta_description

#main_column.home_column
  #shit_to_read COMING SOON TO DUDEFEST.COM
  #article_body.text
    %p 
      You're probably asking yourself, are these guys just going to post a bunch
      of articles until the end of time? Well, yes and no. Articles will be
      posted until the end of time (every action movie ever won't review
      itself), but it won't be the only thing we do. Eventually we'll be moving into
      the territories of comments, merchandise, voting, videos, etc.
    %p &nbsp;
    %p 
      Note that we said eventually. To start, we'll be taking a bit more of an
      incremental approach as we build our team and figure out the best path
      towards Internet domination. Here are some things we'll be adding to the
      site soon:
    %p &nbsp;
    %p 
      %b
        %strike Dudefest Guydes
    %p 
      %b 
        %strike SPORTS
    %p 
      %b 
        %strike Comment section
    %p 
      %b 
        %strike Quote of the day 
    %p 
      %b 
        %strike Dude of the Week
    %p 
      %b 
        %strike Dear Dudefest Forum
    %p 
      %b 
        %strike Columnist Bios
    %p 
      %b Dudefest Dozen
    %p 
      %b Merchandise
    %p &nbsp;
    %p 
      Check this page periodically for more information, because we'll keep it
      updated with upcoming changes to the site.

= render partial: 'home/daily_dose'
