- content_for(:title, 'About Dudefest')

#main_column.home_column
  #shit_to_read ABOUT DUDEFEST
  #article_body.text
    %p
      If you're on the About page of Dudefest.com, you probably have one of two
      multi-part questions. 1. What the hell is "dudefest", and why do these
      jackasses keep talking about it so much? 2. What the hell is
      "Dudefest.com", and why do I find it so intriguing? Well, dear visitor,
      you've lucked out, because we have answers to your question.
    %p &nbsp;
    %p 
      "Dudefest" is a word that has been used to describe heavy metal festivals,
      Big Lebowski viewing events, and when there are too many dudes (not
      possible) at a party. We here at Dudefest.com have a different definition.
    %p &nbsp;
    %p <b>dudefest</b> [dood-fest]
    %p noun
    %p 1. an assembly or gathering of dudes engaged in a common activity
    %p 
      2. a celebration of dudes, guys, or masculine events, activities,
      characteristics
    %p 3. an action or occurrence to which dudes are generally attracted
    %p adjective
    %p 4. having qualities traditionally ascribed to dudes
    %p 
      5. exhibiting characteristics or traits considered masculine, manly,
      dudely, or dudish
    %p 6. pertaining to or suitable for dudes
    %p &nbsp;
    %p 
      The Dudefest.com dudes use the word "dudefest" a butt ton because it's a
      catch-all word for stuff we consider dudely. It's as simple as that.
      What's the best movie? The worst TV show? The most exciting sport? The
      handsomest man? The greatest band? Hell if we know. You don't know 
      either.
      We'll even wager there isn't a single human being who can answer any of
      those questions. But, do you know what we CAN answer? What's the most 
      dudefest beverage? Beer. What's the most dudefest kind of food? Bacon. 
      What's the most dudefest movie? Well, we'll let you decide. Dudefest is a
      word our generation has made up, so we can be the ones to define it.
    %p &nbsp;
    %p
      %b Legal Disclaimer
    %p &nbsp;
    %p
      Dudefest.com publishes rumors, opinions, stories, as well as factual
      information. The information or ideas presented on this site may or may
      not be true and should not be taken as fact. The views and opinions
      presented are just that, views and opinions, and should not be used in
      any other way. Furthermore the opinions and posts in the comments
      section do not reflect the opinions of Dudefest.com and we are not
      responsible for them. Any emails sent to Dudefest.com or any of its
      writers may be published. If you have any copyright issues, or problems
      with the site, please email 
      <a href='mailto:dudes@dudefest.com'>dude@dudefest.com</a>.

= render partial: 'home/daily_dose'
