/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
  margin: 0px;
}

body {
  text-align: left;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0px;
  background-color: #DDDDDD;
  color: #333333;
}

#header {
  width: 100%;
  background-color: #333333;
}

#top, #content {
  width: 1000px;
}

#top {
  margin: 0px auto;
  color: #DDDDDD;
}

#content {
  margin: 10px auto 0px;
  padding: 0px;
  border: 1px solid #AAAAAA;
  box-shadow: 0px 0px 5px #888888;
  background-color: #E0E0E0;
}

#logo {
  display: inline-block;
  vertical-align: bottom;
  font-size: 0px;
}

#logo a {
  text-decoration: none;
  display: inline-block;
  width: 300px;
  font-size: 0px;
  padding: 5px 0px;
}

#logo a img {
  max-width: 100%;
  border: 0 none;
  outline: none;
}

#nav {
  vertical-align: bottom;
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menu_item { 
  display: inline;
}

.menu_item a {
  text-decoration: none;
  padding: 10px 15px;
  color: #DDDDDD;
  display: inline-block;
}

.menu_item a:hover {
  color: #333333;
  background-color: #DDDDDD;
  border-radius: 1px 1px 0px 0px;
}

.home_column {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  height: auto;
}
  
#main_column {
  width: 673px;
  margin: 10px 0px 10px 10px;
}

#shit_to_read {
  vertical-align: top;
  background: #333333;
  color: #CCCCCC; 
  padding: 5px;
  padding-left: 15px;
  margin: 0px;
  margin-top: 20px;
  font-size: 1.7em;
}

#most_recent { 
  border: 1px solid #BBBBBB;
  border-top: 0px;
  border-right: 0px;
}

.top_article {
  width: 49%;
  margin: 2px;
  position: relative;
  display: inline-block;
}

.top_article img {
  max-width: 100%;
}

.article_summary {
  padding: 15px 0px;
  margin: 0px 15px;
  border-top: 1px solid #BBBBBB;
}

.article_summary:first-child {
  border-top: 0;
}

.article_image {
  position: relative;
}

.article_type {
  background-color: #333333;
  color: #DDDDDD;
  display: inline-block;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 0px 0px 6px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.article_date {
  padding: 3px 8px;
  margin: 0px;
  font-size: 12px;
  text-align: right;
  height: 100%
  vertical-align: bottom;
}

.article_image {
  width: 160px;
  height: 120px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: center;
}

.article_image img {
  width: 160px;
  height: 120px;
}

.article_info {
  width: 460px;
  display: inline-block;
  vertical-align: top;
}

.article_title {
  font-size: 1.5em;
}

.article_author {
  font-style: italic;
  font-size: .9em;
}

.article_view_count { font-size: .9em; color: #555555; padding-top: 28px; }

#right_column {
  width: 278px;
  padding: 5px;
  margin: 10px 10px 10px 10px;
}

#daily_dose {
  font-size: 1.65em;
  padding-bottom: 8px;
  /*border-bottom: 2px solid #BBBBBB;*/
}

.daily_dose_item {
  padding: 16px 0px;
  border-top: 2px solid #BBBBBB;
}

.right_label {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.daily_dose_image {
  margin: 0px;
}

.daily_dose_image img {
  max-width: 100%;
  height: auto;
  border: 0 none;
  outline: none;
}

.right_title {
  padding-top: 8px;
  text-align: center;
}

.right_title a {
  padding-left: 5px;
  display: inline-block;
}

.right_title a, .right_description a {
  text-decoration: none;
  color: #555555;
}

.right_title a:hover, .right_description a:hover {
  color: #333333;
  text-decoration: underline;
}

iframe {
  padding: 0px;
  width: 420px;
  height: 315px;
}

#footer {
  text-align: center;
}
