/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * NOTE NOTE NOTE NOTE below we only require directory, but we might need to
 * require the tree later. NOTE NOTE NOTE NOTE NOTE
 *
 *= require_self
 *= require_directory
 */
html {
  margin: 0px;
}

body {
  text-align: left;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0px;
  background-color: #DDDDDD;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover { color: #888888; }

#header, #footer {
  width: 100%;
  background-color: #333333;
  color: #DDDDDD;
}

#top, #content, #sitemap {
  width: 1000px;
  margin: 0px auto;
}

#top {
  color: #DDDDDD;
  position: relative;
}

#logo {
  display: inline-block;
  vertical-align: bottom;
  font-size: 0px;
}

#logo a {
  text-decoration: none;
  display: inline-block;
  width: 325px;
  font-size: 0px;
  padding: 15px 20px 15px 0px;
}

#logo a img {
  max-width: 100%;
  border: 0 none;
  outline: none;
}

#site_nav {
  display: inline-block;
  width: 655px;
}

#top_nav {
  vertical-align: top;
}

#movie_week {
  display: inline-block;
  width: 310px;
  text-align: center;
  font-size: 1.3em;
}

#movie_week a {
  color: #DDDDDD;
}

#user_nav {
  display: inline-block;
  vertical-align: top;
  width: 335px;
  text-align: right;
  margin: 0px 10px 10px 0px;
}

#user_nav a {
  color: #DDDDDD;
  text-decoration: none;
}

#user_nav a:hover {
  text-decoration: underline;
}

ul#nav {
  vertical-align: bottom;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

#nav li {
  display: inline;
  font-size: 22px;
}

#nav li a {
  text-decoration: none;
  padding: 10px 12px;
  color: #DDDDDD;
  display: inline-block;
}

#nav li a.selected {
  color: #333333;
  background-color: #DDDDDD;
  border-radius: 1px 1px 0px 0px;
}

#nav ul {
  list-style: none;
  left: 0px;
  position: absolute;
  text-align: center;
  width: 980px;
  padding: 0px 14px;
  display: none;
  background-color: #DDDDDD;
}

#nav ul.right_align {
  text-align: right;
}

#nav ul li {
  display: inline;
  font-size: 20px;
}

#nav ul li a, #tagline a {
  text-decoration: none;
  color: #333333;
  padding: 10px 10px 15px;
  display: inline-block;
}

#nav ul li a:hover, #tagline a:hover {
  color: #888888;
}

#sub_nav {
  height: 52px;
  text-align: left;
  font-size: 20px;
  width: 1000px;
  margin: 0px auto;
  z-index: 50;
}

#tagline {
  text-align: center;
}

#content {
  margin: 5px auto 30px;
  padding: 0px;
  border: 1px solid #AAAAAA;
  box-shadow: 0px 0px 5px #888888;
  background-color: #E0E0E0;
  z-index: 100;
}

.home_column {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  height: auto;
}
  
#main_column {
  width: 670px;
  margin: 10px 0px 0px 10px;
}

#shit_to_read {
  vertical-align: top;
  background: #333333;
  color: #DDDDDD; 
  padding: 5px;
  padding-left: 15px;
  margin: 0px;
  font-size: 1.65em;
}

#most_recent { 
  border: 1px solid #BBBBBB;
  border-top: 0px;
  border-right: 0px;
}

#top_articles {
  margin-bottom: 15px;
}

.top_article {
  vertical-align: top;
  width: 49%;
  margin: 2px;
  position: relative;
  display: inline-block;
}

.top_article img {
  max-width: 100%;
}

.article_summary {
  padding: 15px 0px;
  margin: 0px 15px;
  border-top: 1px solid #BBBBBB;
}

.article_summary:first-child {
  border-top: 0;
}

.article_image {
  position: relative;
}

.article_type {
}

#article_body {
  padding-top: 20px;
}

#byline {
  margin-top: 20px;
  padding: 20px 10px 25px;
  font-size: 1em;
  text-align: left;
  border-top: 1px #888888 solid;
}

.article_type a {
  text-decoration: none;
  color: #DDDDDD;
  padding: 4px 6px;
  background-color: #333333;
  display: inline-block;
  font-size: 10px;
  border-radius: 0px 0px 6px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.article_date {
  padding-top: 10px;
  margin: 0px;
  height: 100%;
  vertical-align: bottom;
  font-size: 0.9em;
}

.article_image {
  width: 160px;
  height: 120px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: center;
}

.article_image img {
  width: 160px;
  height: 120px;
}

.article_info {
  width: 460px;
  display: inline-block;
  vertical-align: top;
}

.article_title a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}

#right_column {
  width: 300px;
  margin: 10px 5px;
}

#daily_dose {
  font-size: 1.75em;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.daily_dose_item {
  margin: 16px 0px 0px;
  /*border-top: 2px solid #BBBBBB;*/
}

.right_label {
  text-align: left;
  font-size: 1.25em;
  margin-bottom: 10px;
  vertical-align: top;
  text-align: center;
  background: #333333;
  color: #DDDDDD; 
  padding: 7px 0px;
  margin: 0px;
  margin-bottom: 2px;
  font-size: 1.25em;
}

.daily_dose_image {
  margin: 0px;
  margin-bottom: 2px;
  padding: 0px;
  font-size: 0px;
}

.daily_dose_image img {
  width: 100%;
  height: auto;
  border: 0 none;
  outline: none;
}

.daily_dose_video {
  margin: 0px;
  margin-bottom: 2px;
  width: 100%;
  font-size: 0px;
}

.daily_dose_video p {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.daily_dose_video iframe, .daily_dose_video embed, .daily_dose_video object {
  max-width: 100%;
  height: 250px;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}

table.right_quote {
  width: 300px;
}

td.daily_dose_open_quote, td.daily_dose_close_quote {
  font-size: 5em;
}

td.daily_dose_open_quote {
  padding-top: 20px;
  vertical-align: top;
}

td.daily_dose_close_quote {
  vertical-align: bottom;
  padding-bottom: 35px;
}

.right_title {
  padding: 5px 0px;
  text-align: center;
  font-size: 1.05em;
}

.right_title, .right_description, .right_quote, .right_name {
  margin: 0px;
  margin-bottom: 2px;
  background-color: #CCCCCC;
}

.right_quote {
  text-align: center;
}

.right_name {
  padding: 5px 0px;
  text-align: center;
  font-size: 1.3em;
}

.right_description {
  padding: 5px;
}

.right_title a {
  padding-left: 5px;
  display: inline-block;
}

.right_title a, .right_description a {
  text-decoration: none;
  color: #555555;
}

.right_title a:hover, .right_description a:hover {
  color: #333333;
  text-decoration: underline;
}

.text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 140%;
  color: #000000;
}

.text img {
  display: block;
	margin: 0px auto;
  max-width: 350px;
  max-height: 350px;
}

.text p {
  margin: 0px;
  padding: 0px;
}

.text p.image_caption {
  font-size: 0.75em;
  margin-bottom: 1em;
  text-align: center;
}

.text p.image_source {
  font-size: 0.65em;
  margin-bottom: 1em;
  text-align: right;
  margin-right: 160px;
}

.text ol, .text ul {
  margin: 0px;
  padding-left: 20px;
}

.text ol li, .text ul li {
  padding-left: 10px;
}

.text a {
  text-decoration: none;
  color: #0099FF;
}

.text a:hover {
  text-decoration: underline;
}

#history_otd a {
  color: #000000;
}

#history_otd a:hover {
  color: #666666;
  text-decoration: underline;
}

.text iframe, .text embed, .text object {
  width: 350px;
  height: 250px;
  display: block;
  margin: 0px auto;
}

.simple_form label {
  width: 110px;
  display: inline-block;
  text-align: right;
  margin: 2px 10px;
  margin-left: 0px;
}

.simple_form div.input {
  margin-bottom: 10px;
  vertical-align: top;
}

.simple_form textarea {
  width: 250px;
  height: 100px;
  max-width: 250px;
}

.simple_form label.text {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

.simple_form img {
  max-width: 50px;
  max-height: 50px;
  margin-left: 120px;
}

.actions input, .actions a {
  background-color: #333333;
  padding: 7px 25px;
  color: #DDDDDD;
  border: 0px;
  font-size: 1.25em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  cursor: pointer; cursor: hand;
  text-decoration: none;
}

#sign_in, #sign_up {
  vertical-align: top;
  display: inline-block;
  margin-top: 25px;
}

#sign_in {
  width: 380px;
}

#sign_up {
  text-align: center;
  width: 280px;
}

#sign_up h3 {
  font-weight: normal;
}

#flash_error, #flash_notice, #flash_alert {
  text-align: center;
  margin-bottom: 20px;
}

#sitemap {
  padding: 20px 0px 60px;
}

.sitemap_list {
  margin: 0px;
  padding: 0px 55px;
  list-style-type: none;
  vertical-align: top;
  display: inline-block;
  border-right: 1px solid #DDDDDD;
}

.sitemap_list:first-child { padding-left: 35px; }

.sitemap_list:last-child { padding-right: 0px; border-right: 0px; }

.sitemap_list li {
  margin-top: 10px;
}

.sitemap_list li:first-child {
  margin-top: 0px;
  font-size: 1.5em;
}

.sitemap_list a {
  color: #DDDDDD;
}
