// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comments {
  margin-top: 25px;
}

.comment_field {
  margin: 0px 0px 5px 10px;
  width: 650px;

  textarea {
    max-width: 625px;
    width: 625px;
    font-size: .9em;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #EEEEEE;
    color: #333333;
  }
}

.comment_count_submit {
  position: relative;
  margin-left: 10px;
  padding-bottom: 25px;

  .comment_count {
    display: inline-block;
    vertical-align: center;
    font-size: 1.25em;
    padding-top: 7px;
    padding-left: 5px;
    position: relative;
    bottom: 0px;
  }

  .comment_actions {
    text-align: right;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    right: 0px;
  }
}

#comment_list {
  .comment {
    margin: 15px 10px 10px;

    .comment_info {
      padding: 7px 15px;
      background-color: #CCCCCC;
      position: relative;

      .comment_datetime, .commenter {
        display: inline-block;
      }

      .commenter {
        font-size: 1em;

        img { height: 1em; }
      }

      .comment_datetime {
        padding-top: 2px;
        font-size: .8em;
        position: absolute;
        right: 15px;
      }
    }

    .comment_body {
      padding: 10px 15px;
      font-size: .85em;
    }

    .comment_reply_link {
      text-align: right;

      a { padding: 5px 15px; }
    }

    .comment_reply { 
      width: 100%;
      background-color: #CCCCCC;
      display: none;

      .comment_reply_field {
        textarea {
          width: 600px;
          max-width: 600px;
          margin: 15px 15px 0px;
          font-size: .9em;
          padding: 10px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          background-color: #EEEEEE;
          color: #333333;
        }
      }

      .comment_reply_actions {
        text-align: right;
        margin: 5px 12px 10px 0px;
        padding-bottom: 10px;
        font-size: .9em;
      }
    }

    .child_comments {
      margin-left: 60px;
      margin-right: -10px;
    }
  }
}
