.daily_dose_submit {
  position: relative;
  padding-bottom: 25px;
  padding-top: 5px;

  .daily_dose_count {
    display: inline-block;
    vertical-align: center;
    font-size: 1.25em;
    padding-top: 7px;
    position: relative;
    bottom: 0px;
    color: red;
  }

  .daily_dose_actions {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 5px;
  }
}
