// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#movie_info {
  margin-top: 10px;
  
  .movie_info {
    width: 330px;
    display: inline-block;
    vertical-align: top;
  }

  #movie_info_left {
    font-size: 0px;
    margin-right: 10px;

    #movie_image {
      width: 100%;
      img {
        max-width: 100%;
      }
    }
  }

  #movie_info_right {
    .movie_info_list {
      display: inline-block;

      .movie_info_title {
        color: #CCCCCC;
        background-color: #333333;
        padding: 3px;
        padding-left: 10px;
        font-size: 1.3em;
      }

      .movie_info_item {
        margin-top: 1px;
        background-color: #CCCCCC;
        padding: 2px;
        padding-left: 10px;
      }
    }

    #genres {
      width: 160px;
      vertical-align: top;
    }

    #average_rating {
      width: 160px;
      margin-left: 6px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      font-size: 1em;
      background-color: #CCCCCC;
      border: 2px solid #333333;

      #dudefest_rating {
        font-size: 3em;
      }
    }

    #name_variants {
      margin-top: 10px;
      min-width: 100%;
    }
  }
}

#ratings {
  border-top: 1px #333333 solid;
  margin-top: 20px;
}

#ratings_title {
  font-size: 40px;
  background-color: #333333;
  color: #CCCCCC;
  width: 40px;
  padding: 0px 5px;
  text-align: center;
  display: inline-block;
}

#ratings_list {
  display: inline-block;
  width: 620px;
  vertical-align: top;
  border-bottom: 1px #333333 solid;
  
  .rating {
    margin-left: 20px;
    border-bottom: 1px #888888 solid;
    padding: 10px 0px;

    .rating_info {
      display: inline-block;
      vertical-align: top;
      width: 510px;

      .rater {
        font-size: 1.2em;
        margin-top: .5em;
      }
    }

    .rating_number {
      text-align: left;
      font-size: 3em;
      display: inline-block;
      vertical-align: top;
      width: 80px;
      padding-right: 10px;
    }
  }

  .rating:last-child {
    border-bottom: 0px;
  }
}

