#sitemap
  %ul.sitemap_list
    %li.sitemap_title>= link_to 'Dudefest', root_path
    %li>= link_to 'Info', info_path
    %li>= link_to 'Legal', legal_path
    %li>= link_to 'Coming Soon', coming_soon_path
    %li>= link_to 'Contribute', contribute_path
    %li>= link_to 'About', about_path
  %ul.sitemap_list
    %li.sitemap_title>= link_to 'Topics', articles_path
    - @topics.each do |topic|
      %li>= link_to topic.topic, articles_path(topic: topic)
  %ul.sitemap_list
    %li.sitemap_title>= link_to 'Columns', columns_path
    - @columns.sort_by { |c| c.public_articles.count }.first(5) |
              .reverse_each do |column|                         |
      %li>= link_to column.display_name, column
  %ul.sitemap_list
    %li.sitemap_title>= link_to 'Movies', movies_path
    - @genres.first(5).each do |genre|
      %li>= link_to genre.genre, movies_path(genre: genre)
  %ul.sitemap_list
    %li.sitemap_title>= link_to 'Writers', users_path
    - @writers.first(5).each do |writer|
      %li>= link_to writer.last_name, writer
