<!DOCTYPE html>
<html>
<head>
  <title>Dudefest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/DudefestStuff.ico" />
</head>
<body>
  <div id="header"><div id="top">
    <div id="logo"><a href="/"><img src="/DudefestStuff.png"></a></div>
    <ul id="nav">
      <li class="menu_item"><a href="dailydose.html">THINGS OTD</a></li><!--
      --><li class="menu_item"><a href="movies.html">VIDEOS OTD</a></li><!--
      --><li class="menu_item"><a href="movies.html">CINEMA</a></li><!--
      --><li class="menu_item"><a href="beers.html">BOOZE</a></li><!--
      --><li class="menu_item"><a href="beers.html">COMING SOON</a></li><!--
      --><li class="menu_item"><a href="about.html">ABOUT</a></li>
    </ul>
  </div></div>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
